.TableWrapper {
  border: 1px solid var(--color-gray-200);
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}

.Table {
  width: 100%;
  border-collapse: collapse;
}

.TableHead > * {
  border-bottom: 1px solid var(--color-gray-200);
}

.TableBody > * {
  border-bottom: 1px solid var(--color-gray-200);
}
.TableBody > *:last-child {
  border-bottom: none;
}

.TableHeader {
  padding: 8px 12px;
  font-weight: normal;
  font-size: 14px;
  color: var(--color-gray-500);
  white-space: nowrap;
}

.TableData {
  padding: 8px 12px;
  font-size: 14px;
  white-space: nowrap;
}
