.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead > * {
  border-bottom: 1px solid var(--color-gray-100);
}

.tableBody > * {
  border-bottom: 1px solid var(--color-gray-100);
}

.tableBody > *:last-child {
  border-bottom: none;
}

.tableHeader {
  padding: 10px 24px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-gray-400);
  white-space: nowrap;
}

.tableData {
  padding: 10px 24px;
  font-size: 14px;
  white-space: nowrap;
}
