.MainContentArea {
  height: 100vh;
  padding-top: calc(24px + 64px);
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--color-gray-50);
  border-top: 1px solid var(--color-gray-200);
}
