.base {
  height: calc(100vh - 64px);
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  overflow-y: auto;
  overscroll-behavior-y: none;
}

.base::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding-left: 4px;
}

.base::-webkit-scrollbar-track {
  background-color: transparent;
}

.base::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}
.base::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.base::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.6);
}
