.Navgation__item {
  margin-right: -24px;
  margin-left: -24px;
  line-height: 40px;
}

.Navgation__link {
  display: block;
  padding-left: calc(24px - 4px);
  color: white;
  text-decoration: none;
  border-left: 4px solid transparent;
}
.Navgation__link:hover {
  margin-right: -10px;
  background-color: var(--color-primary-dark);
}
.Navgation__link--active {
  font-weight: bold;
  border-left: 4px solid white;
}
.Navgation__link--active:hover {
  background-color: var(--color-primary-dark);
  border-left: 4px solid white;
}
