.UserList__linearProgressContainer {
  height: 4px;
  margin-right: -32px;
  margin-left: -32px;
}

.UserList__circularProgressContainer {
  padding-top: 120px;
  text-align: center;
}

.UserList__circularProgressLoadingText {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-gray-400);
}
