.ReactPaginate__container {
  padding: 0;
}

.ReactPaginate__page {
  display: inline-block;
  padding-right: 6px;
  text-align: center;
  cursor: pointer;
}

.ReactPaginate__pageLink {
  display: block;
  width: 32px;
  font-weight: bold;
  line-height: 32px;
  color: var(--color-gray-400);
  border-radius: 9999px;
  outline: none;
  transition: background-color 0.1s ease-out;
}

.ReactPaginate__pageLink:hover {
  background-color: var(--color-gray-200);
}

.ReactPaginate__pageLink_active {
  color: white;
  background-color: var(--color-primary);
}

.ReactPaginate__pageLink_active:hover {
  background-color: var(--color-primary-dark);
}

.rowsCountNotificationText {
  font-size: 12px;
  color: var(--color-gray-500);
}
