.link {
  display: block;
  padding-left: calc(24px - 4px);
  color: white;
  text-decoration: none;
  border-left: 4px solid transparent;
}
.link:hover {
  margin-right: -10px;
  background-color: var(--color-primary-dark);
}
.link_active {
  font-weight: bold;
  border-left: 4px solid white;
}
.link_active:hover {
  background-color: var(--color-primary-dark);
  border-left: 4px solid white;
}
